# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace
!default.xcworkspace
*.xcuserdata
*.xccheckout
*.xcodeproj/project.xcworkspace/xcuserdata

xcdebugger/

# SwiftPM
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/screenshots/
fastlane/test_output/

# Misc
*.log
*.DS_Store
.env